In [1]:
'''1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number,
and adds the total amount removed to the smallest number.'''
def show_the_love(l):
    m=min(l)
    d=l.index(m)
    l.remove(m)
    for i in range(len(l)):
        m+=l[i]*.25
        l[i]=l[i]*.75
        if l[i]-int(l[i])==0:
            l[i]=int(l[i])
    if m-int(m)==0:
            m=int(m)
    l.insert(d,m)
    return l

In [2]:
show_the_love([4, 1, 4])

[3, 3, 3]

In [3]:
show_the_love([16, 10, 8])

[12, 7.5, 14.5]

In [4]:
show_the_love([2, 100])

[27, 75]

In [5]:
'''2. Create a function that takes in two words as input and returns a list of three elements, in the following order:
1.Shared letters between two words.
2.Letters unique to word 1.
3.Letters unique to word 2.
Each element should have unique letters, and have each letter be alphabetically sorted.'''
def letters(a,b):
    l=["","",""]
    for i in set(a+b):
        if i in a and i in b:
            l[0]+=(i)
        elif i in a and i not in b:
            l[1]+=(i)
        elif i not in a and i in b:
            l[2]+=(i)
    for i in range(len(l)):
        l[i]=list(l[i])
        l[i].sort()
        l[i]="".join(l[i])
    return l

In [6]:
letters("sharp","soap")

['aps', 'hr', 'o']

In [7]:
letters("board", "bored")

['bdor', 'a', 'e']

In [8]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [9]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [10]:
letters("match", "ham")

['ahm', 'ct', '']

In [11]:
#3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.
def pairs(l):
    k=[]
    if len(l)%2==0:
        n=len(l)//2
    else:
        n=len(l)//2+1
    for i in range(n):
        k.append([l[i],l[len(l)-i-1]])
    return k

In [12]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [13]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [14]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [15]:
pairs([])

[]

In [16]:
#4.Write a function that adds two numbers. The catch, however, is that the numbers will be strings.
def add_str_nums(a,b):
    try:
        if len(a)==0:
            a=0
        if len(b)==0:
            b=0
        s=int(a)+int(b)
        return s
    except:
        return -1

In [17]:
add_str_nums("4","5")

9

In [18]:
add_str_nums("abcdefg","3")

-1

In [19]:
add_str_nums("1", "")

1

In [20]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

1874682736267235927391936562808774986

In [21]:
'''5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings!
Somehow my strings have all become mixed up; every pair of characters hasbeen swapped. Help me undo this so I can 
understand my strings again.'''
def unmix(s):
    s1=""
    for i in range(0,len(s),2):
        if i==len(s)-1:
            s1+=s[i]
        else:
            s1+=s[i+1]
            s1+=s[i]
    return s1

In [22]:
unmix("123456")

'214365'

In [23]:
unmix("hTsii  s aimex dpus rtni.g")

'This is a mixed up string.'

In [24]:
unmix("badce")

'abcde'